.work {
    margin-top: 80px;
    padding: 70px 130px;
    width: 100%;
    background: linear-gradient(90.01deg, #8B1EF8 -36.74%, #D251FF 73.24%);
}

.work h2 {
    margin-top: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 94px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.slide {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item1 {
    padding: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;

}

.item1:last-child {
    margin-right: 0;
    /* Remove margin from the last item1 div */
}

.item1 img {
    width: 300px;
    height: 200px;
}

.item1 p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 10px;
}