.abt {
    padding: 70px 130px;
}

.abt h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 94px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 80px;
    text-transform: uppercase;

}

.abt p {
    margin: 60px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 43px;
    letter-spacing: 0.05em;
    color: #000000;
}